<div class="container dashboard mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-5">My Guide Dashboard</h1>
      <div class="booking-container mb-5">
        <h1>My bookings</h1>
        <hr>
         <ul class="list-inline tabs-underlined my-5">
          <li>
            <a href="#" class="tab-underlined active">En cours</a>
          </li>
          <li>
            <a href="#" class="tab-underlined">Historique</a>
          </li>
        </ul>

        <% @bookings.each do |booking| %>
          <div class="card-product mb-3">
            <img src="<%= booking.activity.photo %>" />
            <div class="card-product-infos">
              <div class="card-product-item">
                <h2><%= booking.activity.name %></h2>
                <p><%= booking.activity.address %></p>
              </div>
              <div class="card-product-item">
                <h2>Group size</h2>
                <p><%= booking.group_size %></p>
              </div>
              <div class="card-product-item">
                <h2>Date</h2>
                <p><%= booking[:date] %></p>
              </div>
              <div class="card-product-item">
                <h2>Price</h2>
                <p><%= booking.activity.price * booking[:group_size] %>€</p>
              </div>
              <div class="card-product-item">
                <h2>Status</h2>
                <p><%= booking[:status] %></p>
              </div>
              <div class="card-product-item">
                <h2>Email</h2>
                <%= mail_to booking.user.email do %>
                  <p><%= booking.user.email %></p>
                <% end %>
              </div>
              <div class="card-product-item">
                <%= link_to 'Accept', accept_booking_path(booking), class: 'link-accept mr-2', method: :patch %>
                |
                <%= link_to 'Reject', reject_booking_path(booking), class: 'link-reject ml-2', method: :patch %>
              </div>
              <div class="card-product-item">

              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="activities-container">
        <h2>My activities</h2>
        <hr>
          <ul class="list-inline tabs-underlined my-5">
            <li>
              <a href="#" class="tab-underlined active">En cours</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Historique</a>
            </li>
          </ul>

        <div class="row">
          <% @activities.each do |activity| %>
            <div class="col-sm-4">
              <%= link_to activity_path(activity) do %>
                <div class="card-guide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= activity.photo %>)">
                  <p><%= activity.name %></p>
                  <p><%= activity.price %>€</p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




