<div class="homepage">
    <div class="video-container">
      <div class="title-container">
        <div class="headline">

            <h1>Likalokal</h1>
            <h3>Don't be a tourist. Travel like an insider.</h3>
        </div>
      </div>
      <div class="search-container">
        <div class="container">
          <%= render 'shared/search' %>
        </div>
      </div>
      <div class="filter"></div>
      <%= video_tag("home_video.mp4", autoplay: true, loop: true, class: "fillWidth" ) %>
    </div>


    <div class="section">
      <h2 class="section-title">Experience a new place through the eyes of a local</h2>
      <div class="container">
        <div class="row cards">
          <% @activities.each do |activity| %>
            <div class="card-activity mb-3">
              <img src="<%= activity.photo %>" />
              <div class="card-activity-infos">
                <h2><%= activity.name %></h2>
                <p><%= truncate(activity.description, :length => 100) %></p>
                <span class="card-activity-pricing"><%= activity.price %>€</span>
                <%= link_to "Learn More", activity_path(activity), class: "card-activity-button"  %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
