<div class="container mt-5">
  <div class="row">
    <div class="col-12">
        <h1>My activities</h1>

        <ul class="list-inline tabs-underlined my-5">
          <li>
            <a href="#" class="tab-underlined active">En cours</a>
          </li>
          <li>
            <a href="#" class="tab-underlined">Historique</a>
          </li>
        </ul>

        <% @activity.each do |activity| %>
          <div class="card-product mb-3">
            <img src="<%= activity.photo %>" />
            <div class="card-product-infos">
              <h2><%= activity.name %></h2>
              <p><%= activity.address %></p>
            </div>
            <div class="card-product-infos">
              <h2>Price</h2>
              <p><%= activity.price %>€</p>
            </div>
            <div class="card-product-infos">
              <%= link_to 'Edit', edit_activity_path(activity) %>
            </div>
            <div class="card-product-infos">
              <%= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

