
<div class="activity-photo-banner" style="background-image: url('<%= @activity.photo %>')"></div>
  <div class="container margin-top-negative">
    <div class="row">
      <div class="col-8">
        <div class="activity-show-card">
          <h1><%= @activity.name %></h1>
          <%= link_to edit_activity_path(@activity) do %>
            <i class="fas fa-pen"></i>
          <% end %>
          <%= link_to activity_path(@activity), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
        <div class="activity-show-card">
          <p><%= @activity.description %></p>
        </div>
      </div>

      <div class="col-4">
        <div class="activity-show-card">
          <h5>Book this activity!</h5>
          <div class="login-form p-3 mt-5">
            <h2 class="text-center">Book !</h2>
              <%= simple_form_for [@activity, @booking] do |f| %>
              <%= f.input :user_id, as: :hidden %>
              <%= f.input :activity_id, as: :hidden %>
              <%= f.input :date %>
              <%= f.input :group_size %>
              <%= f.button :submit, 'Make a booking !', class: 'btn btn-primary btn-block' %>
            <% end %>
            <!-- <form action="activities/1/bookings" method="post"></form> -->
          </div>
        </div>
        <div class="activity-show-card">
          <h3>Details</h3>
          <div class="flex">
            <div class="flex">
              <p>Group size selector</p>
            </div>
            <div class="flex ml-3">
              <i class="fas fa-euro-sign"></i> <%= @activity.price %>
            </div>
          </div>
        </div>
        <div class="activity-show-card">
          <div class="flex-align">
            <h3>Meet<%= @activity.user_id %></h3>
            <div class="flex">
              <p><%= @activity.user_id %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

