
<div class="activity-photo-banner" style="background-image: url('<%= @activity.photo %>')"></div>
  <div class="container margin-top-negative">
    <div class="row">
      <div class="col-8">
        <div class="activity-show-card">
          <h1><%= @activity.name %></h1>
          <%= link_to edit_activity_path(@activity) do %>
            <i class="fas fa-pen"></i>
          <% end %>
          <%= link_to activity_path(@activity), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
        <div class="activity-show-card">
          <p><%= @activity.description %></p>
        </div>
      </div>

      <div class="col-4">
        <div class="activity-show-card">
          <h5>Join the darkness!</h5>
          <form action="">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">On:</span>
              <input type="text" class="form-control" placeholder="06/09/2019" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
          </form>
        </div>
        <div class="activity-show-card">
          <h3>Details</h3>
          <div class="flex">
            <div class="flex">
              <p>Group size selector</p>
            </div>
            <div class="flex ml-3">
              <i class="fas fa-euro-sign"></i> <%= @activity.price %>
            </div>
          </div>
        </div>
        <div class="activity-show-card">
          <div class="flex-align">
            <h3>Meet<%= @activity.user_id %></h3>
            <div class="flex">
              <p><%= @activity.user_id %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

