<div class="activity-photo-banner" style="background-image: url('<%= @activity.photo %>')"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="activity-show-card">
        <h1><%= @activity.name %></h1>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i> 162 avis</p>
        <div class="price-container">
          <p id="price" class="price" data-amount-cents="<%= @activity.price %>"><%= @activity.price %> €&nbsp;</p>
          <p class="small-light"> / pers</p>
        </div>
      </div>
      <div class="activity-show-card">
        <h2>Description</h2>
        <hr>
        <p><%= @activity.description %></p>
      </div>
      <div class="activity-show-card">
       <h2>Condition d'annulation</h2>
        <hr>
        <p>Cancel up to 24 hours before your trip and get a full refund, including all fees. Cancel within 24 hours of the trip and the first night is non-refundable except for fees.</p>
      </div>
      <% if current_user != @activity.user %>
      <div class="activity-show-card">
        <h2>Informations principales</h2>
        <hr>
        <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <% end %>
    </div>
    <div class="col-4">
      <% if current_user != @activity.user %>

      <div class="activity-show-card">
        <h2>Join the darkness!</h2>
        <hr>
        <%= simple_form_for [@activity, @booking] do |f| %>
          <%= f.input :user_id, as: :hidden %>
          <%= f.input :activity_id, as: :hidden %>
          <%= f.input :date %>
          <div class="flex-between">
            Participants:
            <div class="actions">
              <a class="btn round-bordered incrementer minus disabled" data-offset="-1">-</a>
              <span id="counter" data-count="1">1</span>
              <a href="#" class="btn round-bordered incrementer" data-offset="1">+</a>
            </div>
          </div>
          <%= f.input :group_size, label: false, :input_html => { :step => "1", :id => "count", value: 1, hidden: true } %>
          <%= f.button :submit, "Pay #{@activity.price} €", id: 'submit', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
      <div class="activity-show-card">
        <div class="">
          <h2>Your guide</h2>
          <hr>
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <p>Ambrose</p>

        </div>
      </div>
      <% else %>
        <div class="activity-show-card">
          <h2>Informations principales</h2>
          <hr>
          <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
        <div class="activity-show-card">
          <%= link_to 'Edit', edit_activity_path(@activity), class: 'btn btn-primary btn-block' %>
          <%= link_to 'Delete', activity_path(@activity), class: 'btn btn-danger btn-block', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_user == @activity.user %>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h1>My bookings</h1>
        <hr>
        <ul class="list-inline tabs-underlined my-5">
          <li>
            <a href="#" class="tab-underlined active">Pending</a>
          </li>
          <li>
            <a href="#" class="tab-underlined">Confirmed</a>
          </li>
        </ul>

        <% @bookings.each do |booking| %>
          <div class="card-product mb-3">
            <img src="<%= booking.activity.photo %>" />
            <div class="card-product-infos">
              <h2><%= booking.activity.name %></h2>
              <p><%= booking.activity.address %></p>
            </div>
            <div class="card-product-infos">
              <h2>Date</h2>
              <p><%= booking[:date] %></p>
            </div>
            <div class="card-product-infos">
              <h2>Price</h2>
              <p><%= booking.activity.price * booking[:group_size] %>€</p>
            </div>
            <div class="card-product-infos">
              <h2>Status</h2>
              <p><%= booking[:status] %></p>
            </div>
            <div class="card-product-infos">
              <h2>Email</h2>
              <p><%= booking.user.email %></p>
            </div>
            <div class="card-product-infos">
              <h2>Ref</h2>
              <p><%= booking.id %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<% end %>
  </div>

